section{
    width: 80%;
    height: 800px;
    /* background-image:url("https://images.unsplash.com/photo-1690733363722-fdaf2a5fb7ad?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size:cover;
    background-position: top; */
    background:center/40% no-repeat url("https://images.unsplash.com/photo-1690733363722-fdaf2a5fb7ad?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"), palegoldenrod;
    margin: 0 auto;
}

h1{
    font-size: 100px;
    color: white;
    
}