body{
    margin:0;
}
span{
    margin-left:40px;  /*works */
    margin-top:40px;  /*DOES NOT work */

}
div{
    width:200px;
    height:200px;
    background-color: #fb5607;
}
h1{
    background-color:aqua;
    width: 400px;
    margin:0;
}
#one{
    background-color: #ff006e;
    border-width:5px;
    border-color:black;
    border-style:solid
}
#two{
    background-color: #fb5607;
    border-color:#ffcdb2;
    border-width:3px;
    border-style:dashed;
    border-left-color:greenyellow;
    border-left-width:5px;
    padding-left: 10px;
    margin:10px 0;

}
#three{
    background-color: #383432;
    border:4px solid greenyellow;
    border-left-color:pink;
    border-radius:50px;
}
h1{
    padding-left:50px;
}
button{
        padding:10px 50px 15px;
    }
