span{
    background-color: palevioletred; 
    border: 1px solid black;
    width:500px;
    padding: 50px;
    margin: 50px;
}

h1{
    background-color: palevioletred; 
    border: 1px solid black;
    width:200px;
    height: 100px;
    margin: 50px;
    padding: 80px;
}
div{
    height:200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid yellow;
    display:inline-block;
    margin: 10px;
    display:none;
}