div{
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 2px solid black;
    margin: 10px;
    display:inline-block;
}
#second{
    background-color:palevioletred;
}

#static #second{
    position: static;
}
#relative #second{
    position: relative;
    top: 50px;
    left: 50px;
}
#absolute{
    position:relative;
}
#absolute #second{
    position: absolute;
    top:20px;
    left:50px;

}

#fixed{
    position: relative;
}
#fixed #second{
    position: fixed;
    top: 10px;
    left: 22px;
}
#sticky #second{
position:-webkit-sticky; 
position:sticky;
top:20px;
}