html{
    font-size:10px;
}
h2{
    font-size:3rem;

}
h3{
    font-size:2rem;

}
ul{
    font-size:1.5rem;
}
article{
    font-size: 20px;
}
button{
    font-size:1.5rem;
    background-color: skyblue;
    color: white;
    border-radius: 0.5em;
}